<%- include('../partials/header'); %>

<div class="container">
    <div id="home">
        <a href="/<%- id %>/home/learning">
            <h1 style="color: black;">New Words</h1>
        </a>
    </div>
    <div id="home">
        <a href="/<%- id %>/home/reviewing">
            <h1 style="color: black;">Review Words</h1>
        </a>
     </div>
     <div id="home">
        <a href="/<%- id %>/home/mastered">
            <h1 style="color: black;">Mastered Words</h1>
        </a>
     </div>
</div>

<%- include('../partials/footer'); %>